<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1080449776857-igqbhbsrq7kpcpinkaq2o19nd5tonrbf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1080449776857-igqbhbsrq7kpcpinkaq2o19nd5tonrbf</string>
	<key>API_KEY</key>
	<string>AIzaSyBgfUeP_I2SqK8Fo7sI5A-PChcgI2L1LtM</string>
	<key>GCM_SENDER_ID</key>
	<string>1080449776857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bolidon.app</string>
	<key>PROJECT_ID</key>
	<string>bolidon</string>
	<key>STORAGE_BUCKET</key>
	<string>bolidon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080449776857:ios:1f1ff48a891d05cd1852c8</string>
</dict>
</plist>